        <%# <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title> %>
        <%# <link rel="stylesheet" href="navigation.css"> %>

    <div>
        <div >
            <div class="globalContainerAdminPage">
                <%= render "navigation" %>
                <div class="TitleInfoAdminPage">
                    <p>Users List Page</p>
                </div>
            </div>

        </div>
        <%= render "userList"%>
    </div>
